#equipment {
    .content {
        @include padding-Y(2rem);

        h1 {
            text-align: center;
            color: $font;
            font-size: 3rem;
            @include merienda;
        }
    }
}

.gold h3 {
    text-align: center;
    @include padding-Y(1rem);
}

#item {
    .content {
        color: $font;
        text-align: center;
        padding: 2rem;

        & .gold {
            @include sriracha;
        }

        &-list {
            @include flex(row wrap, center, center);

            &_item {
                width: 4vw;
                height: auto;
                margin: 0.5rem;
                background-color: rgb(20, 20, 20);
                border-radius: 20px;
                opacity: 0.7;

                @include transition(0.2s);

                &_frame {
                    position: relative;

                    &_pic img {
                        width: 3vw;
                        height: auto;
                    }

                    &_quantity {
                        position: absolute;
                        right: 2px;
                        bottom: 1px;
                        padding: 0 0.3rem;
                        background-color: $primary;
                        border-radius: 40px;
                        font-size: 0.7rem;
                        font-weight: bold;
                    }
                }

                &:hover {
                    opacity: 1;
                    box-shadow: 0 0 10px 0 rgba(20, 20, 20, 0.9);
                }
            }
        }
    }
}

.info {
    position: fixed;
    display: none;
    z-index: 2;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    color: $font;
    background-color: rgba(20, 20, 20, 0.9);

    &.show {
        display: block;
    }

    .content {
        width: 60%;
        height: fit-content;
        margin-top: 5rem;
        border: 2px solid $primary;
        border-radius: 10px;
        background-color: #000;
        @include marginAuto;

        &-info {
            padding: 1rem;
            @include flex(row nowrap, space-between, center);

            &_desc {
                width: 60%;
                text-align: justify;
                @include marginAuto;
            }

            &_buttons {
                margin-top: 3rem;
                padding: 2rem;
                @include flex(row, center, center);
            }
        }
    }
}

#info_box {
    position: fixed;
    overflow: hidden;

    .content {
        color: $font;
        text-align: center;
        background-color: rgba(20, 20, 20, 0.9);
        border: 2px solid $primary;
        @include flex(column wrap, center, center);
        @include padding-Y(0.5rem);

        &-name {
            padding: 0 0.5rem;

            & small {
                font-size: 0.7rem;
            }
        }

        &-info {
            @include flex(row nowrap, space-between, unset);

            & p {
                margin-top: 0.5rem;
                padding: 0 0.5rem;
            }
        }
    }
}